*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.content{
	padding-top: 10rem;
}
.container{
	display: flex;
	flex-direction: column;
	margin: auto;
	max-width: 500px;
	.row{
		display: flex;
		flex-direction: row;
		margin-bottom: 2rem; 
		.col-4{
			width: 33.33%;
			display: flex;
		    flex-direction: column;
		    align-items: center;
		    position: relative;
		    padding-top: 7px;
			>p{
				font-family: Arial;
				font-size: 13px;
				margin: 12px 0 20px 0;
				padding: 0 5px 0 5px;
			}
			.price{
				span{
					font-weight: bold;
					font-size: 18px;
				}
			}
			.bye{
				display: flex;
				align-items: center;
				padding: 0 5px 0 5px;
				width: 100%;
				.btn-bye{
					padding:9px;
					background: #3a3a3a;
					border: none;
					color: #fff;
					margin-left: 17px;
					cursor: pointer;
				}
			}
			img{
				align-self: center;
				max-width: 100%;
			}
			.raiting{
				position: relative;
				width: 21%;
				height: 11px;
				margin-top: 1rem;
				background: url('../img/raiting.png') repeat-x;
				&:after{
					content: "";
					position: absolute;
					height: 1px;
					width: 37px;
					top: 50%;
					right: calc(100% + 10px);
					background: #f0f0f0;
				}
				&:before{
					content: "";
					position: absolute;
					height: 1px;
					width: 37px;
					top: 50%;
					left: calc(100% + 10px);
					background: #f0f0f0;
				}
			}
			.description{
				position: absolute;
				top: calc(100% + 20px);
				z-index: 1;
				width: 100%;
				margin-top: -2rem;
				background: #fff;
				display: none;
				box-sizing: content-box;
				border: 3px solid #eb5c3e;
				border-top:none;
				padding-top: 2rem;
				box-shadow: 0 5px 5px 1px #d1d1d0;
				div{
					padding: 0px 5px 7px 7px;
				}
			}
			&:hover .description{
				display: block;
			}
		}
		&:last-child{
			margin-bottom: 0;
		}
	}
}
.border:hover{
	border: 3px solid #eb5c3e;
	border-bottom: 0;
	box-shadow: 0 0 5px 1px #d1d1d0;
	.raiting{
		z-index: 3;
		background: url('../img/hover-raiting.png') repeat-x !important;
	}
	.btn-bye{
		background: #eb5c3e !important;
	}
}